/* .intro-box{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    color: black;
    
} */


.img-buyee {
  margin-left: 90px;

}

.welcome-name {
  color: rgb(9, 231, 247);
}

.black-box {
  border-radius: 30px;
}



.list-item-link {
  border: 1px solid grey;
  color: white;
  text-decoration: none;
}

.list-item-link:hover {
  background-color: grey;
  color: black;
  border: none;
}

.browse-item-link {
  background-color:white;
  border: 1px solid grey;
  color: black;
  text-decoration: none;

}

.browse-item-link:hover {
  background-color: rgb(9, 231, 247);
  border: 1px solid grey;
  color: black;
  text-decoration: none;
}






@media (min-width: 992px) {
    .intro-box {
        padding: 1rem 1rem;
    }
    
    
}

@media (min-width: 768px) {
    .intro-box {
        padding: 1rem 1rem;
    }
}


@media (max-width: 768px) {
    .intro-box {
        padding: 1rem 1rem;
    }
    
    
}

h1 {
  text-indent: 8px;
  font-size: 56px;
}

h2 {
  text-indent: 8px;
  font-size: 46px;
}

h3 {
  line-height: 1.6;
}


.animated {
    text-indent: 8px;
  }
  
  .animated span {
    color: rgb(9, 231, 247);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    -ms-animation: topToBottom 6s infinite;
    -webkit-animation: topToBottom 6s infinite;
    animation: topToBottom 6s infinite;
  }
  
  .animated span:nth-child(2){
    -ms-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .animated span:nth-child(3){
    -ms-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .animated span:nth-child(4){
    -ms-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .animated span:nth-child(5){
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  .animated span:nth-child(6){
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  
  @keyframes topToBottom {
    0%, 12% {opacity: 1} /* visible for 1s */
    12.01%, 100% {opacity: 0} /* hidden for 4s */
  }








